<div class="container" style="margin-top: 100px">
  <h4 class="mb-4">Update form</h4>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && h.firstName.errors }"
          placeholder="First name"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && h.lastName.errors }"
          placeholder="Last name"
        />
      </div>
      <div class="col">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && h.email.errors }"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="carMake"
          [ngClass]="{ 'is-invalid': submitted && h.carMake.errors }"
          placeholder="Car Make"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="carModel"
          [ngClass]="{ 'is-invalid': submitted && h.carModel.errors }"
          placeholder="Car Model"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="vin"
          [ngClass]="{ 'is-invalid': submitted && h.vin.errors }"
          placeholder="VIN"
        />
      </div>
      <div class="col">
        <input
          type="date"
          class="form-control"
          formControlName="manufacturedDate"
          [ngClass]="{ 'is-invalid': submitted && h.manufacturedDate.errors }"
          placeholder="Manufactured Date"
        />
      </div>
    </div>
    <div class="mt-4">
      <button class="btn btn-success">Update Record</button>
    </div>
  </form>
</div>
