<div class="container-fluid px-4" style="margin-top: 100px">
  <div *ngIf="available; then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Vin</th>
          <th scope="col">Manufactured</th>
          <th scope="col" class="text-center">Age</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <th scope="row">{{ car.id }}</th>
          <td>{{ car.first_name }}</td>
          <td>{{ car.last_name }}</td>
          <td>{{ car.email }}</td>
          <td>{{ car.car_make }}</td>
          <td>{{ car.car_model }}</td>
          <td>{{ car.vin }}</td>
          <td>{{ car.manufactured_date | date }}</td>
          <td class="text-center">
            {{ calculateAgeOfVehicle(car.manufactured_date) }}
          </td>
          <td class="text-center">
            <fa-icon
              [icon]="faTrash"
              class="deleteIcon"
              (click)="alert(car)"
            ></fa-icon
            >&nbsp;&nbsp;
            <fa-icon
              [icon]="faPenAlt"
              class="updateIcon"
              (click)="redirectToUpdate(car)"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <!-- Spinner while fetching data -->
  <ng-template #elseBlock>
    <div class="spinner-border mx-auto mt-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
